<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property resource="logback.properties" scope="context"/>
    <property resource="classpath:config/log.${spring.profiles.active}.properties" scope="context"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.console.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${log.basedir}/${spring.profiles.active}.${log.file}</file>
        <encoder>
            <pattern>${log.console.pattern}</pattern>
        </encoder>
    </appender>


    <root level="OFF"/>

    <logger name="com.ingenious3.sample.controller.ServiceController" level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </logger>

</configuration>